<form class="form-inline" ng-submit="register()">
    <div class="form-group">
        <label >{{tip}}</label><br>
        <input type="text" required class="form-control" ng-model="username" placeholder="Account" /><br><br>
        <input type="password" required class="form-control" ng-model="password" placeholder="Password" /><br><br>
        <button type="submit" class="btn btn-primary btn-enter">注册</button>
        <button type="reset" class="btn btn-primary">重置</button>

    </div>

</form>
